{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
<h3 class="pt-3">Search Results</h3>
  <form method="POST" id="EditForm" action="{{ url_for('supvedits') }}">
  <table class="table">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Date</th>
      <th>Clock In</th>
      <th>Clock Out</th>
      <th>Holiday/PTO</th>
      <th>Hours</th>
      <th>Approval Status</th>
    </tr>
    {% for data in results %}
      <tr>
        <td class="center-align"><input type="radio" name="id" value="{{ data['id'] }}" required></td>
        <td>{{ data['name'] }}</td>
        <td>{{ data['date'] }}</td>
        <td>{{ data['clock_in'] }}</td>
        <td>{{ data['clock_out'] }}</td>
        <td>{{ data['pto'] }}</td>
        <td>{{ data['hours'] }}</td>
        <td>{{ data['approval'] }}</td>
      </tr>
  {% endfor %}
  </table>

  <p>If you would like to change the approval status of one of the entries above, select it.</p>
  <div class="form-check form-check-inline">
    <label class="form-check-label"><input class="form-check-input" type="radio" name="choice" value="approve" required> Approve it</label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label"><input class="form-check-input" type="radio" name="choice" value="unapprove" required> Unapprove it</label>
  </div>

  <div class="form-group">
    <p class="pt-3"><input class="btn btn-primary" type="submit" value="Submit Choice"></p>
  </div>
  </form>
<hr>
<p><a href="{{ url_for('supv') }}">Go back to the Supvervisor Hub</a></p>
<p><a href="{{ url_for('logout') }}">Logout</a></p>
<hr>
</div>
{% endblock %}