{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
  <h3 class="pt-3">Supervisor Hub</h3>
  <hr>
  <form method="POST" id="search" action="{{ url_for('supvresults', supvname=supvname) }}">
    {{ form.csrf_token }}
    {{ wtf.form_field(form.name) }}
    {{ wtf.form_field(form.dateBegin) }}
    {{ wtf.form_field(form.dateEnd) }}
    {{ wtf.form_field(form.submit) }}
  </form>
  <hr>
	<p><a href="{{ url_for('logout') }}">Logout</a></p>
  <hr>
</div>
{% endblock %}