{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
<h3 class="pt-3">Supvervisor Edits</h3>
<hr>
{% if redun == True %}
  {% if choice == 'approve' %}
      <p class="pt-1"><strong>This entry has already been approved.</strong></p>
  {% else %}
      <p class="pt-1"><strong>This entry has not been approved yet.</strong></p>
  {% endif %}
{% else %}
<table class="table">
  {% if choice == 'approve' %}
    <p class="pt-1"><strong>This entry has been approved.</strong></p>
  {% else %}
    <p class="pt-1"><strong>This entry has been unapproved.</strong></p>
  {% endif %}
</table>
{% endif %}
<hr>
<p><a href="{{ url_for('supv') }}">Go back to the Supvervisor Hub</a></p>
<p><a href="{{ url_for('logout') }}">Logout</a></p>
<hr>
</div>
{% endblock %}