{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
<h3 class="pt-3">Hours Adjustment</h3>
<hr>
<form method="POST" id="EmployHoursForm" action="{{ url_for('hours_adjust') }}">
  {{ form.csrf_token }}
  <!-- Hidden field for the unique ID associated with the record -->
  <input type="hidden" name="id" value="{{ id }}">
  <!-- Hidden field for name of the employee that submitted the record -->
  <input type="hidden" name="name" value="{{ name }}">
  {{ wtf.form_field(form.date, value=result['date']) }}
  {{ wtf.form_field(form.clock_in, value=result['clock_in']) }}
  {{ wtf.form_field(form.clock_out, value=result['clock_out']) }}
  {{ wtf.form_field(form.pto, value=result['pto']) }}
  {{ wtf.form_field(form.hours, value=result['hours']) }}
  {{ wtf.form_field(form.submit) }}
  <!-- Hidden fields to redirect and reconstruct the table of records on results pages -->
  <input type="hidden" name="first_date" value="{{ first_date }}">
  <input type="hidden" name="last_date" value="{{ last_date }}">
  <input type="hidden" name="type" value="{{ type }}">
</form>
<hr>
<p><a href="{{ url_for('employee') }}">Go back to the Employee Hub</a></p>
<p><a href="{{ url_for('index') }}">Logout and return to the Main Hub</a></p>
<hr>
</div>
{% endblock %}