{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
<h3 class="pt-3">Login</h3>
<hr>
<p><strong>{{ message }}</strong></p>
<form method="POST" id="LoginForm" action="{{ url_for('login') }}">
  {{ form.csrf_token }}
  {{ wtf.form_field(form.email) }}
  {{ wtf.form_field(form.password) }}
  <div class="form-check form-check-inline">
    <label class="form-check-label"><input class="form-check-input" type="radio" name="choice" value="hours" checked> Submit/Adjust your hours</label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label"><input class="form-check-input" type="radio" name="choice" value="supv"> Login as a supervisor</label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label"><input class="form-check-input" type="radio" name="choice" value="hr"> Login as HR</label>
  </div>
  <p class="pt-1"></p>
  {{ wtf.form_field(form.login) }}
</form>
<hr>
<p><a href="{{ url_for('index') }}">Go back to the Main Hub</a></p>
<hr>
</div>
{% endblock %}